.part4{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding:0 5rem 3rem;
    h1{
        text-align: center;
    }
    h4{
        color: rgb(233, 230, 49);
    }
    ul{
        list-style-type: disc;
        padding: 1rem;
    }
   
}
@media (max-width: 35rem){
    .part4{
        margin-top: 6rem;
    }
}