.part1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    ol, ul{
        padding: 1rem;
    }
    ul{
        list-style-type: none;
    }
    h1{
        text-align: center;
        text-wrap: pretty;
    }
    p{
        margin-top: 1rem;
    }
    summary{
        color: rgb(223, 216, 112);
    }
    .questions-container{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    .img-container{
        width: 15rem;
        height: 15rem;
        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
    details{
        cursor: pointer;
    }
}

@media (max-width: 35rem){
    .part1{
        margin-top: 6rem;
    }
}